@import 'maket-0.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto'; */

/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap'); */
/* font-family: 'Fira Sans'; */

/* @import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap'); */
/* font-family: 'Scheherazade New'; */

.project:hover {
    cursor: default;
}

* {
font-family: 'Roboto', sans-serif;
}

.overflow {
  overflow: hidden;
}



/* шапка сайта */

.font-for-navigation {
    font-size: 20px;
    color: white;
    padding-right: 22px;
    font-weight: 600;
}
.font-for-navigation:hover {
    cursor: pointer;
    color: #a68dc2;
}
@media (max-width: 1420px) {
  .font-for-navigation {
    font-size: 16px;
  }
}
@media (max-width: 1150px) {
  .font-for-navigation {
    font-size: 14px;
  }
}
@media (max-width: 850px) {
  .font-for-navigation {
    font-size: 12px;
  }
}
@media (max-width: 650px) {
  .font-for-navigation {
    font-size: 22px;
  }
}
@media (max-width: 495px) {
  .font-for-navigation {
    font-size: 16px;
  }
}

.first-section-wrapper {
    width: 100%;
    background-color: #4C3D74;
}

.wrapper-line {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navigation-bar-wrapper {
    width: 90%;
}

.course-representative-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
}
@media (max-width: 650px) {
  .course-representative-wrapper {
    padding: 50px 0px;
  }
}

.left-block-navigation {
    display: flex;
    flex-direction: row;
}
@media (max-width: 650px) {
  .left-block-navigation {
    display: none;
  }
}

.left-block-wrapper {
    display: flex;
    width: 50%;
    flex-direction: column;
}
@media (max-width: 750px) {
  .left-block-wrapper {
    width: 90%;
    display: flex;
    align-items: center;
  }
}

.intensive-presentation {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}
@media (max-width: 999px) {
  .intensive-presentation {
    font-size: 30px;
    padding-bottom: 100px;
  }
}
@media (max-width: 750px) {
  .intensive-presentation {
    font-size: 30px;
    padding-bottom: 100px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 430px) {
  .intensive-presentation {
    padding-bottom: 70px;
  }
}

.first-in-world {
    font-size: 23px;
    color: white;
    font-weight: 600;
    padding: 25px 0px;
    margin-top: 100px;
}
@media (max-width: 1420px) {
  .first-in-world {
    font-size: 20px;
  }
}
@media (max-width: 1150px) {
  .first-in-world {
    font-size: 18px;
    margin-top: 50px;
  }
}
@media (max-width: 999px) {
  .first-in-world {
    font-size: 16px;
    margin-top: 40px;
  }
}
@media (max-width: 850px) {
  .first-in-world {
    font-size: 15px;
    margin-top: 35px;
    padding: 15px 0px;
  }
}
@media (max-width: 850px) {
  .first-in-world {
    font-size: 21px;
  }
}
@media (max-width: 495px) {
  .first-in-world {
    font-size: 16px;
  }
}

.speed-title {
    font-size: 45px;
    color: white;
    font-weight: 600;
    padding: 25px 0px;
}
@media (max-width: 1420px) {
  .speed-title {
    font-size: 40px;
  }
}
@media (max-width: 1150px) {
  .speed-title {
    font-size: 35px;
  }
}
@media (max-width: 999px) {
  .speed-title {
    font-size: 30px;
    padding: 20px 0px;
  }
}
@media (max-width: 850px) {
  .speed-title {
    font-size: 25px;
    padding: 17px 0px;
  }
}
@media (max-width: 750px) {
  .speed-title {
    font-size: 26px;
    padding: 17px 0px;
    display: flex;
    text-align: center;
  }
}
@media (max-width: 495px) {
  .speed-title {
    font-size: 22px;
  }
}

.want-4d-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 23px;
}
@media (max-width: 1420px) {
  .want-4d-wrapper {
    font-size: 20px;
  }
}
@media (max-width: 1150px) {
  .want-4d-wrapper {
    font-size: 18px;
  }
}
@media (max-width: 999px) {
  .want-4d-wrapper {
    font-size: 16px;
  }
}
@media (max-width: 999px) {
  .want-4d-wrapper {
    font-size: 15px;
  }
}
@media (max-width: 850px) {
  .want-4d-wrapper {
    font-size: 21px;
    display: flex;
    text-align: center;
  }
}
@media (max-width: 495px) {
  .want-4d-wrapper {
    font-size: 15px;
  }
}

.want-4d {
    color: white;
    font-weight: 600;
    padding: 20px 0px 5px 0px;
}

.teach-you {
    color: white;
    font-weight: 600;
}

.right-block-wrapper {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}
@media (max-width: 650px) {
  .right-block-wrapper {
    width: 100%;
    justify-content: center;
  }
}

.memoji-block img{
    height: 500px;
}
@media (max-width: 1420px) {
  .memoji-block img {
    height: 450px;
  }
}
@media (max-width: 999px) {
  .memoji-block img {
    height: 350px;
  }
}
@media (max-width: 850px) {
  .memoji-block img {
    height: 300px;
  }
}
@media (max-width: 495px) {
  .memoji-block img {
    height: 250px;
  }
}
@media (max-width: 430px) {
  .memoji-block img {
    height: 200px;
  }
}

.button-block-wrapper {
    display: flex;
    margin: 40px 0px;
}
@media (max-width: 650px) {
  .button-block-wrapper {
    width: 100%;
    justify-content: space-around;
  }
}

.btn-form {
    width: 245px;
    height: 60px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 3px solid #A387C4;
}
.btn-form:hover {
    background-color: #a68dc2;
    border: 3px solid #5e4e8a;
    -webkit-box-shadow: 11px 11px 20px 4px rgba(223, 159, 231, 0.2);
    -moz-box-shadow: 11px 11px 20px 4px rgba(223, 159, 231, 0.2);
    box-shadow: 11px 11px 20px 4px rgba(223, 159, 231, 0.2);
}
@media (max-width: 1150px) {
  .btn-form {
    width: 200px;
    font-size: 14px;
  }
}
@media (max-width: 999px) {
  .btn-form {
    width: 170px;
    height: 50px;
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  .btn-form {
    width: 200px;
    height: 60px;
    font-size: 15px;
  }
}
@media (max-width: 495px) {
  .btn-form {
    width: 170px;
    height: 55px;
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .btn-form {
    width: 140px;
    height: 50px;
    font-size: 11px;
  }
}

.program-btn {
    margin-left: 30px;
}
@media (max-width: 950px) {
  .program-btn {
    margin-left: 0px;
  }
}

.btn-left {
    margin-left: 0px;
}

@media (max-width: 900px) {
  .program-btn-top {
    margin-left: 30px;
  }
}

/* 2 секция */

.second-section-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f6f8;
    align-items: center;
}

.content-second-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.for-intensive-title {
    width: 100%;
    text-align: center;
    font-size: 50px;
    line-height: 2px;
    color: #504178;
    font-weight: 600;
    padding: 25px 0px;
    margin-top: 100px;
}
@media (max-width: 1300px) {
  .for-intensive-title {
    font-size: 40px;
  }
}
@media (max-width: 1000px) {
  .for-intensive-title {
    font-size: 34px;
    margin-top: 70px;
  }
}
@media (max-width: 725px) {
  .for-intensive-title {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .for-intensive-title {
    font-size: 23px;
  }
}
@media (max-width: 450px) {
  .for-intensive-title {
    font-size: 19px;
    margin-top: 55px;
  }
}

.quality-lashmaker-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 60px 0px;
}
@media (max-width: 900px) {
  .quality-lashmaker-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .quality-lashmaker-wrapper {
    padding: 30px 0px;
  }
}

.windows-hape-wrapper {
    width: 32%;
    justify-content: center;
    display: flex;
}
@media (max-width: 1000px) {
  .windows-hape-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

.windows-hape {
    width: 80%;
    height: 140px;
    background: #f2eef7;
    border: 3px solid #4c3d74;
    border-radius: 30px;
    position: relative;
}
@media (max-width: 1000px) {
  .windows-hape {
    height: 130px;
  }
}
@media (max-width: 900px) {
  .windows-hape {
    width: 50%;
  }
}
@media (max-width: 725px) {
  .windows-hape {
    width: 50%;
    height: 140px;
  }
}
@media (max-width: 600px) {
  .windows-hape {
    width: 70%;
    height: 140px;
  }
}

.wrapper-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6% 0 12%;
    font-size: 20px;
}
@media (max-width: 1300px) {
  .wrapper-text {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .wrapper-text {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .wrapper-text {
    font-size: 20px;
  }
}
@media (max-width: 725px) {
  .wrapper-text {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .wrapper-text {
    font-size: 16px;
  }
}

.lashmaker-text-light {
    color: #504178;
}

.lashmaker-text-bold {
    color: #504178;
    font-weight: 600;
}

.first-card-img {
    position: absolute;
    left: -60px;
    top: 10px;
}
@media (max-width: 1000px) {
  .first-card-img {
    left: -50px;
    top: 10px;
  }
}
.first-card-img img{
    height: 90px;
}
@media (max-width: 1300px) {
  .first-card-img img {
    height: 80px;
  }
}
@media (max-width: 1000px) {
  .first-card-img img {
    height: 75px;
  }
}
@media (max-width: 725px) {
  .first-card-img img {
    height: 80px;
  }
}
@media (max-width: 450px) {
  .first-card-img img {
    height: 75px;
  }
}

.energy-boost-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
}

.energy-boost-content {
    width: 90%;
    display: flex;
}
@media (max-width: 900px) {
  .energy-boost-content {
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .energy-boost-content {
    flex-direction: column;
    align-items: center;
  }
}

.energy-boost-content2 {
  width: 90%;
    display: flex;
}
@media (max-width: 1380px) {
  .energy-boost-content2 {
    justify-content: space-between;
  }
}
@media (max-width: 950px) {
  .energy-boost-content2 {
    flex-direction: column;
    align-items: center;
  }
}

.energy-boost-text {
    width: 45%;
    font-size: 24px;
    color: #504178;
    font-weight: 600;
}
@media (max-width: 1300px) {
  .energy-boost-text {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 1000px) {
  .energy-boost-text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  .energy-boost-text {
    font-size: 17px;
    padding-bottom: 25px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .energy-boost-text {
    font-size: 16px;
  }
}

.btn-form1 {
    width: 245px;
    height: 60px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 3px solid #A387C4;
    background-color: #a68dc2;
    border: 3px solid #5e4e8a;
}
.btn-form1:hover {
    background-color: #5e4e8a;
    border: 3px solid #a68dc2;
    -webkit-box-shadow: 11px 11px 20px 4px rgba(72, 13, 80, 0.2);
    -moz-box-shadow: 11px 11px 20px 4px rgba(84, 38, 90, 0.2);
    box-shadow: 11px 11px 20px 4px rgba(48, 22, 51, 0.2);
}
@media (max-width: 1300px) {
  .btn-form1 {
    width: 220px;
    height: 54px;
  }
}

@media (max-width: 800px) {
  .btn-form1-scroll {
    width: 190px;
    height: 45px;
    font-size: 14px;
  }
}
@media (max-width: 670px) {
  .btn-form1-scroll {
    width: 220px;
    height: 54px;
    font-size: 16px;
    margin: 25px 0px;
  }
}

.bottom-memoji {
    position: absolute;
    right: 20px;
    bottom: 0px;
}

.bottom-memoji img {
    height: 243px;
}
@media (max-width: 1300px) {
  .bottom-memoji img {
    height: 195px;
  }
}
@media (max-width: 1000px) {
  .bottom-memoji img {
    height: 175px;
  }
}
@media (max-width: 900px) {
  .bottom-memoji img {
    height: 140px;
  }
}
@media (max-width: 450px) {
  .bottom-memoji img {
    height: 120px;
  }
}


/* третья секция  */

.third-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #4C3D74;
}

.intensive-content-wrapper {
    width: 90%;
}

.intensive-content-title {
    width: 100%;
    text-align: center;
    font-size: 50px;
    line-height: 2px;
    color: #ffffff;
    font-weight: 600;
    padding: 25px 0px;
    margin-top: 100px;
    margin-bottom: 50px;
}
@media (max-width: 1210px) {
  .intensive-content-title  {
    font-size: 40px;
  }
}
@media (max-width: 700px) {
  .intensive-content-title  {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .intensive-content-title  {
    font-size: 26px;
  }
}
@media (max-width: 490px) {
  .intensive-content-title  {
    font-size: 22px;
  }
}

.line-wrapper {
  display: flex;
  flex-direction: column;
}
@media (max-width: 950px) {
  .line-wrapper {
    flex-direction: row;
  }
}
@media (max-width: 600px) {
  .line-wrapper {
    flex-direction: column;
  }
}

.first-line-of-intensive-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
@media (max-width: 950px) {
  .first-line-of-intensive-content {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .first-line-of-intensive-content {
    margin-bottom: 0px;
  }
}

.contents-intensive-card {
    width: 30%;
}
@media (max-width: 950px) {
  .contents-intensive-card {
    width: 80%;
    margin-bottom: 40px;
  }
}
@media (max-width: 700px) {
  .contents-intensive-card {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .contents-intensive-card {
    width: 50%;
  }
}
@media (max-width: 490px) {
  .contents-intensive-card {
    width: 75%;
  }
}

.intensive-card-img {
    display: flex;
}

.intensive-card-img img {
    height: 55px;
}
@media (max-width: 1210px) {
  .intensive-card-img img  {
    height: 48px;
  }
}
@media (max-width: 700px) {
  .intensive-card-img img  {
    height: 42px;
  }
}

.intensive-card-text {
    margin-top: 15px;
    color: white;
    margin-left: 15px;
    letter-spacing: 1px;
    line-height: 15px;
}
@media (max-width: 490px) {
  .intensive-card-text {
    font-size: 12px;
  }
}

.second-line-of-intensive-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
@media (max-width: 950px) {
  .second-line-of-intensive-content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
}

.intensive-card-text2 {
    margin-top: 15px;
    color: white;
    margin-left: 15px;
    letter-spacing: 1px;
    line-height: 15px;
    font-weight: 600;
}
@media (max-width: 490px) {
  .intensive-card-text2 {
    font-size: 12px;
  }
}


/* третья секция */

.third-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #4C3D74;
}

.information-about-speaker-wrapper {
    width: 90%;
}

.information-about-speaker-text {
    width: 100%;
    text-align: center;
    font-size: 50px;
    line-height: 2px;
    color: #ffffff;
    font-weight: 600;
    padding: 25px 0px;
    margin-top: 100px;
    margin-bottom: 50px;
}
@media (max-width: 1100px) {
  .information-about-speaker-text {
    font-size: 40px;
  }
}
@media (max-width: 860px) {
  .information-about-speaker-text {
    font-size: 30px;
  }
}
@media (max-width: 640px) {
  .information-about-speaker-text {
    font-size: 24px;
    margin-top: 45px;
  }
}
@media (max-width: 400px) {
  .information-about-speaker-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.information-block-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}
@media (max-width: 860px) {
  .information-block-wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
  }
}

.left-block-information {
    width: 60%;
}
@media (max-width: 1100px) {
  .left-block-information {
    width: 55%;
  }
}
@media (max-width: 860px) {
  .left-block-information {
    width: 90%;
  }
}

.first-paragraph {
    font-size: 16px;
    padding-bottom: 25px;
    color: #ffffff;
    line-height: 20px;
}
@media (max-width: 1100px) {
  .first-paragraph {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .first-paragraph {
    font-size: 15px;
  }
}

.second-paragraph {
    font-size: 16px;
    padding-bottom: 25px;
    color: #ffffff;
    line-height: 20px;
}
@media (max-width: 1100px) {
  .second-paragraph {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .second-paragraph {
    font-size: 15px;
  }
}

.first-paragraph span {
    font-weight: 600;
}

.second-paragraph span {
    font-weight: 600;
}

.key-points-wrapper {
    display: flex;
    margin-top: 20px;
    width: 100%;
}
@media (max-width: 1100px) {
  .key-points-wrapper {
    justify-content: space-between;
  }
}

.key-points-wrapper2 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
}
@media (max-width: 1100px) {
  .key-points-wrapper2 {
    justify-content: space-between;
  }
}

.time-and-experience {
    display: flex;
    width: 50%;
}
@media (max-width: 1100px) {
  .time-and-experience {
    width: 47%;
  }
}

.block-time h1 {
    font-size: 42px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 7px;
}
@media (max-width: 640px) {
  .block-time h1 {
    font-size: 35px;
  }
}

.block-time span {
    font-size: 16px;
    color: #ffffff;
}

@media (max-width: 1100px) {
  .block-experience {
    width: 47%;
  }
}

.block-experience h1 {
    font-size: 42px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 7px;
}
@media (max-width: 640px) {
  .block-experience h1 {
    font-size: 35px;
  }
}

.block-experience span {
    font-size: 16px;
    color: #ffffff;
}

@media (max-width: 1100px) {
.right-block-information {
  margin-top: 50px;
  }
}
@media (max-width: 900px) {
.right-block-information {
  margin-top: 70px;
  }
}
@media (max-width: 860px) {
.right-block-information {
  margin-top: 15px;
  }
}

.right-block-information img {
    width: 375px;
}
@media (max-width: 1100px) {
  .right-block-information img {
    width: 340px;
  }
}
@media (max-width: 400px) {
  .right-block-information img {
    width: 250px;
  }
}


/* четвертая секция */

.fourth-section {
    width: 100%;
    background-color: #f9f6f8;
    display: flex;
    justify-content: center;
}

.intensive-program-wrapper {
    width: 90%;
}

.visible-text-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px;
}
@media (max-width: 1010px) {
  .visible-text-wrapper {
    padding: 12px 0;
  }
}
@media (max-width: 670px) {
  .visible-text-wrapper {
    padding: 13px 0;
  }
}
.visible-text-wrapper:after {
  content: '\002B';
  padding-left: 20px;
}
.active:after {
  /* content: "\2212"; */
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.last-visible-text-wrapper:after {
    content: '\002B';
    transform: rotate(-90.0deg);
}

.hidden-block {
  width: 100%;
  color: #4C3D74;
  padding-top: 16px;
  padding-bottom: 15px;
}
@media (max-width: 500px) {
  .hidden-block  {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.d-none-wrapper {
    display: none;
}
.hidden-block p {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 20px;
}
@media (max-width: 1180px) {
  .hidden-block p  {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .hidden-block p  {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .hidden-block p  {
    font-size: 12px;
  }
}

.intensive-program-title {
    width: 100%;
    text-align: center;
    font-size: 50px;
    line-height: 2px;
    color: #4C3D74;
    font-weight: 600;
    padding: 25px 0;
    margin-top: 100px;
    margin-bottom: 50px;
}
@media (max-width: 1180px) {
  .intensive-program-title {
    margin-top: 70px;
    font-size: 45px;
  }
}
@media (max-width: 1010px) {
  .intensive-program-title {
    margin-top: 50px;
    font-size: 35px;
  }
}
@media (max-width: 800px) {
  .intensive-program-title {
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 670px) {
  .intensive-program-title {
    margin-top: 25px;
    font-size: 23px;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .intensive-program-title {
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.lesson-block-wrapper {
    width: 100%;
}

.lesson-form {
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    color: #4c3d74;
    font-family: Roboto,sans-serif;
    /* padding: 20px 0; */
    border-top: 3px solid #4c3d74;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@media (max-width: 1010px) {
  .lesson-form {
    font-size: 16px;
  }
}
@media (max-width: 670px) {
  .lesson-form {
    font-size: 14px;
    border-top: 2px solid #4c3d74;
  }
}

@media (max-width: 1180px) {
  .lesson-form-txt {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .lesson-form-txt {
    font-size: 15px;
  }
}

.bottom-border {
  border-bottom: 3px solid #4C3D74;
  margin-bottom: 50px;
}
@media (max-width: 670px) {
  .bottom-border {
    margin-bottom: 20px;
    /* border-top: 2px solid #4C3D74; */
    border-bottom: 2px solid #4C3D74;
  }
}

.still-thinking {
    width: 90%;
    display: flex;
    margin-bottom: 90px;
}
@media (max-width: 670px) {
  .still-thinking {
    flex-direction: column-reverse;
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

.still-thinking-text {
    width: 45%;
    font-size: 24px;
    color: #504178;
    font-weight: 600;
    margin-left: 50px;
}
@media (max-width: 1010px) {
  .still-thinking-text {
    margin-top: 10px;
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .still-thinking-text {
    margin-top: 10px;
    font-size: 15px;
    margin-left: 30px;
  }
}
@media (max-width: 670px) {
  .still-thinking-text {
    width: 100%;
    font-size: 19px;
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .still-thinking-text {
    font-size: 16px;
  }
}

.telegram-wrapper img {
    height: 45px;
}

.bottom-memoji2 {
    position: absolute;
    right: 20px;
    bottom: 0px;
}

.bottom-memoji2 img {
    height: 180px;
}
@media (max-width: 1180px) {
  .bottom-memoji2 img {
    height: 155px;
  }
}
@media (max-width: 800px) {
  .bottom-memoji2 img {
    height: 130px;
  }
}
@media (max-width: 500px) {
  .bottom-memoji2 img {
    height: 100px;
  }
}


/* пятая секция  */

.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.8;
	z-index: 1;
  /* display: none; */
}

.d-none-opacity {
  display: none;
}

.close-modal-wrapper {
    position: absolute;
    right: 10px;
    top: -70px;
}
.close-modal-wrapper:hover {
  cursor: pointer;
}
@media (max-width: 880px) {
  .close-modal-wrapper {
    top: -95px;
  }
}

@media (max-width: 1100px) {
  .close-modal-wrapper img {
    height: 40px;
  }
}
@media (max-width: 880px) {
  .close-modal-wrapper img {
    height: 30px;
  }
}

.modal-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    margin-top: 70px;
    position: fixed;
    /* display: none; */
}
@media (max-width: 880px) {
  .modal-wrapper {
    margin-top: 100px;
  }
}

.d-none-modal-wrapper {
  display: none;
}

.md-registration {
    width: 50%;
    background-color: #ebe3e8;
    border: 2px solid #666;
}
@media (max-width: 1600px) {
  .md-registration {
    width: 65%;
  }
}
@media (max-width: 450px) {
  .md-registration {
    width: 80%;
  }
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-input {
    width: 70%;
    padding: 15px 10px;
    font-size: 20px;
    border: 1px solid #666;
    margin: 15px 0px;
}
@media (max-width: 1100px) {
  .registration-input {
    padding: 10px 10px;
    font-size: 15px;
  }
}
@media (max-width: 560px) {
  .registration-input {
    font-size: 10px;
    margin: 10px 0;
  }
}
@media (max-width: 450px) {
  .registration-input {
    width: 80%;
  }
}

.registration-input-bottom {
    width: 70%;
    padding: 15px 10px;
    font-size: 20px;
    border: 1px solid #666;
    margin: 15px 0px 40px 0px;
}
@media (max-width: 1100px) {
  .registration-input-bottom {
    padding: 10px 10px;
    font-size: 15px;
  }
}
@media (max-width: 880px) {
  .registration-input-bottom {
    margin: 15px 0px 25px 0px;
  }
}
@media (max-width: 560px) {
  .registration-input-bottom {
    font-size: 10px;
    margin: 15px 0px 20px 0px;
  }
}
@media (max-width: 450px) {
  .registration-input-bottom {
    width: 80%;
  }
}


.md-registration-title {
    font-size: 30px;
    color: black;
    padding: 80px 50px 30px 50px;
    text-align: center;
}
@media (max-width: 1100px) {
  .md-registration-title {
    font-size: 23px;
  }
}
@media (max-width: 880px) {
  .md-registration-title {
    font-size: 18px;
    padding: 40px 50px 15px 50px;
  }
}
@media (max-width: 560px) {
  .md-registration-title {
    font-size: 13px;
    padding: 35px 50px 10px 50px;
  }
}
@media (max-width: 450px) {
  .md-registration-title {
    font-size: 11px;
    padding: 35px 40px 10px 40px;
  }
}

.modal-inst-title {
    font-size: 30px;
    color: black;
    text-align: center;
    padding: 16px 0px;
}
@media (max-width: 1100px) {
  .modal-inst-title {
    font-size: 23px;
  }
}
@media (max-width: 880px) {
  .modal-inst-title {
    font-size: 18px;
    padding: 10px 0;
  }
}
@media (max-width: 560px) {
  .modal-inst-title {
    font-size: 13px;
    padding: 5px 0;
  }
}

@media (max-width: 560px) {
  .modal-btn {
    width: 175px;
    height: 42px;
    border: 2px solid #5e4e8a;
    font-size: 12px;
  }
}

.consent-processing {
    width: 70%;
    margin: 40px 0px;
}
@media (max-width: 880px) {
  .consent-processing {
    margin: 30px 0px;
  }
}
@media (max-width: 560px) {
  .consent-processing {
    margin: 22px 0px;
  }
}
@media (max-width: 450px) {
  .consent-processing {
    width: 80%;
  }
}

label input {
    float: left;
    margin: 0px 15px 0px 0px;
}

.lable-text {
    font-size: 16px;
}
@media (max-width: 1100px) {
  .lable-text {
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  .lable-text {
    font-size: 9px;
  }
}
@media (max-width: 400px) {
  .lable-text {
    font-size: 8px;
  }
}

.lable-text a {
    color: rgb(56, 56, 56);
    text-decoration: underline;
    font-weight: 600;
}

.fifth-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #4C3D74;
}

.rates-wrapper {
    width: 90%;
}

.rates-title {
    width: 100%;
    text-align: center;
    font-size: 50px;
    line-height: 2px;
    color: #ffffff;
    font-weight: 600;
    padding: 25px 0;
    margin-top: 100px;
    margin-bottom: 50px;
}
@media (max-width: 950px) {
  .rates-title {
    font-size: 40px;
    margin-top: 70px;
  }
}
@media (max-width: 500px) {
  .rates-title {
    font-size: 30px;
    margin-top: 50px;
  }
}
@media (max-width: 440px) {
  .rates-title {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.tariff-cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}
@media (max-width: 1380px) {
  .tariff-cards-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 950px) {
  .tariff-cards-wrapper {
    flex-direction: column;
    align-content: center;
  }
}
@media (max-width: 950px) {
  .tariff-cards-wrapper {
    margin-bottom: 70px;
  }
}

.first-tariff-card {
    background-color: #f9f6f8;
    width: 390px;
    border: 3px solid #4C3D74;
    border-radius: 30px;
    position: relative;
}
@media (max-width: 1380px) {
  .first-tariff-card {
    margin-right: 36px;
  }
}
@media (max-width: 950px) {
  .first-tariff-card {
    margin-right: 0px;
  }
}
@media (max-width: 500px) {
  .first-tariff-card {
    width: 340px;
  }
}
@media (max-width: 440px) {
  .first-tariff-card {
    width: 300px;
  }
}

.second-tariff-card {
    background-color: #f9f6f8;
    width: 390px;
    border: 3px solid #4C3D74;
    border-radius: 30px;
    position: relative;
}
@media (max-width: 1380px) {
  .second-tariff-card {
    margin-right: 36px;
  }
}
@media (max-width: 950px) {
  .second-tariff-card {
    margin-right: 0px;
    margin-top: 80px;
  }
}
@media (max-width: 500px) {
  .second-tariff-card {
    width: 340px;
  }
}
@media (max-width: 440px) {
  .second-tariff-card {
    width: 300px;
  }
}

.third-tariff-card {
    background-color: #f9f6f8;
    width: 390px;
    border: 3px solid #4C3D74;
    border-radius: 30px;
    position: relative;
}
@media (max-width: 1380px) {
  .third-tariff-card {
    margin-top: 100px;
  }
}
@media (max-width: 950px) {
  .third-tariff-card {
    margin-top: 80px;
  }
}
@media (max-width: 500px) {
  .third-tariff-card {
    width: 340px;
  }
}
@media (max-width: 440px) {
  .third-tariff-card {
    width: 300px;
  }
}

.independent-title {
    padding-top: 50px;
    font-size: 20px;
    color: #4c3d74;
    margin-left: 35px;
    padding-bottom: 20px;
    font-weight: 600;
}
@media (max-width: 500px) {
  .independent-title {
    padding-top: 45px;
    font-size: 17px;
  }
}

.independent-text-wrapper {
    display: flex;
    margin-bottom: 13px;
    padding-right: 30px;
}

.independent-plus{
    margin-right: 8px;
    font-size: 22px;
    color: #4C3D74;
    font-weight: 600;
    margin-left: 35px;
}
@media (max-width: 500px) {
  .independent-plus {
    font-size: 17px;
  }
}

.independent-text {
    font-size: 15px;
    color: #4C3D74;
    margin-left: 5px;
    font-weight: 600;
}
@media (max-width: 500px) {
  .independent-text {
    font-size: 14px;
  }
}

.independent-text-minus {
    font-size: 15px;
    color: #4C3D74;
    margin-left: 5px;
    text-decoration: line-through;
    font-weight: 600;
}
@media (max-width: 500px) {
  .independent-text-minus {
    font-size: 14px;
  }
}

.duration-text {
    padding-top: 12px;
    font-size: 20px;
    color: #4c3d74;
    margin-left: 35px;
    font-weight: 600;
}
@media (max-width: 500px) {
  .duration-text {
    font-size: 17px;
  }
}

.intensive-date {
    padding-top: 12px;
    font-size: 20px;
    color: #4c3d74;
    margin-left: 35px;
    font-weight: 600;
    padding-bottom: 50px;
}
@media (max-width: 500px) {
  .intensive-date {
    font-size: 16px;
  }
}

.rates-memoji {
    position: absolute;
    left: 300px;
    top: -55px;
}
@media (max-width: 500px) {
  .rates-memoji {
    left: 290px;
    top: -60px;
  }
}
@media (max-width: 440px) {
  .rates-memoji {
    left: 240px;
  }
}

.rates-memoji img{
    height: 130px;
}
@media (max-width: 500px) {
  .rates-memoji img {
    height: 110px;
  }
}
@media (max-width: 440px) {
  .rates-memoji img {
    height: 100px;
  }
}

.pre-recording {
    position: absolute;
    bottom: -35px;
    left: 42px;
}
@media (max-width: 950px) {
  .pre-recording {
    left: 48px;
  }
}
@media (max-width: 950px) {
  .pre-recording {
    left: 85px;
  }
}
@media (max-width: 500px) {
  .pre-recording {
    left: 60px;
  }
}
@media (max-width: 440px) {
  .pre-recording {
    left: 40px;
  }
}

.post-story-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.post-emoji-wrapper {
    margin-right: 25px;
}

.post-emoji-wrapper img {
    height: 65px;
}

.post-story-text {
    width: 45%;
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
}
@media (max-width: 1380px) {
  .post-story-text {
    width: 68%;
    text-align: center;
  }
}
@media (max-width: 950px) {
  .post-story-text {
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .post-story-text {
    font-size: 15px;
  }
}


/* шестая секция */

.sixth-section {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f9f6f8;
}

.intensive-program-wrapper {
    width: 90%;
    position: relative;
}

.bottom-memoji3 {
    position: absolute;
    /* top: 540px; */
    right: 20px;
    bottom: 0px;
}

.bottom-memoji3 img {
    height: 180px;
}
@media (max-width: 980px) {
  .bottom-memoji3 img {
    height: 130px;
  }
}
@media (max-width: 880px) {
  .bottom-memoji3 img {
    height: 120px;
  }
}
@media (max-width: 736px) {
  .bottom-memoji3 img {
    height: 100px;
  }
}

@media (max-width: 880px) {
.still-bottom {
    margin-bottom: 110px;
  }
}
@media (max-width: 670px) {
.still-bottom {
    flex-direction: column;
  }
}

@media (max-width: 670px) {
.still-thinking-text-bottom {
    margin: 25px 0px;
  }
}

@media (max-width: 670px) {
.intensive-program-title-bottom {
    font-size: 20px;
  }
}
@media (max-width: 460px) {
.intensive-program-title-bottom {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
.intensive-program-title-bottom {
    font-size: 14px;
  }
}


/* подвал */

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #4c3d74;
}

.footer-wrapper {
    
    width: 90%;
    flex-direction: column;
    justify-content: center;
}

.first-line-footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 90px 0px 40px 0px;
    font-size: 20px;
}
@media (max-width: 1400px) {
.first-line-footer-wrapper {
    font-size: 15px;
  }
}
@media (max-width: 700px) {
.first-line-footer-wrapper {
    font-size: 17px;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 20px 0px;
  }
}
@media (max-width: 700px) {
.first-line-footer-wrapper {
    font-size: 15px;
    padding: 40px 0px 20px 0px;
  }
}

.julia {
    color: white;
    text-decoration: underline;
}
@media (max-width: 700px) {
.julia {
  margin-bottom: 15px;
  }
}

.up {
    color: white;
    text-decoration: underline;
}
.up:hover {
    cursor: pointer;
}
@media (max-width: 700px) {
.up {
  margin-bottom: 15px;
  }
}

.privacy-policy {
    color: white;
    text-decoration: underline;
}

.second-line-footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 40px 0px;
    font-size: 20px;
}
@media (max-width: 1400px) {
.second-line-footer-wrapper {
    font-size: 15px;
  }
}
@media (max-width: 700px) {
.second-line-footer-wrapper {
    font-size: 17px;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 700px) {
.second-line-footer-wrapper {
    font-size: 15px;
  }
}

.up2 {
    color: white;
    margin-right: 140px;
}
@media (max-width: 700px) {
.up2 {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

.julia2 {
    color: white;
    width: 152px;
}
@media (max-width: 700px) {
.julia2 {
    margin-bottom: 15px;
  }
}


/* ........................................................................ */

.menu-btn{
  display: flex;
  align-items: center;
  position: absolute;
  top: 60px;
  right: 50px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
@media (min-width: 495px) {
  .menu-btn {
    top: 54px;
  }
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}

@media (min-width: 651px) {
  .burger-menu {
    display: none;
  }
}

.menubox{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  /* height: 50%; */
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #f9f6f8;
  box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
  transition-duration: .25s;
  text-align: center;
}
/* @media (max-width: 490px) {
  .menubox {
    padding: 55px 0;
  }
} */

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #4c3d74;;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
/* @media (max-width: 530px) {
  .menu-item {
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  .menu-item {
    padding: 7px 24px;
    font-size: 15px;
  }
} */
.menu-item:hover {
  background-color: #CFD8DC;
}
#menu-toggle{
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  left: 0;
}

/* скролл */

body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-track {
  background: #977eb4;      
}

body::-webkit-scrollbar-thumb {
  background-color: #615486;    
  border-radius: 100px;    
  border: 2px solid #575069;
}